<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nguyenhoa.diginew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.MyList"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diginew"
        android:usesCleartextTraffic="true">
        <activity android:name=".NewsDownloadedActivity"></activity>
        <activity android:name=".PacketAdvanceActivity" />
        <activity android:name=".PacketStandardActivity" />
        <activity android:name=".InfoNewsActivity" />
        <activity android:name=".PlayVideoActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".AudioNews" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".splash.Splash"></activity>
        <activity android:name=".splash.Splash1" />
        <activity android:name=".splash.Splash2" />
        <activity
            android:name=".splash.Terms"
            android:parentActivityName=".splash.Splash2" />
        <activity android:name=".splash.SubjectsFavorite" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".discover.MyTv" />
        <activity android:name=".discover.DigiHealth" />
        <activity android:name=".discover.DigiMovie" />
        <activity android:name=".discover.DigiClip" />
        <activity android:name=".discover.DigiMusic" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>